.creating{
    display: flex;
    flex-direction: column;
}
form{
    display: flex;
    flex-direction: column;
}
button{
    margin: 10px;
    padding: 8px;
    border: 1px solid rgb(30, 30, 30);
    background-color: rgb(30, 30, 30);
    border-radius: 4px;
    color: white;
}