<div class="topnav">
  <div class="links">
    <a href="#home">Home</a>
    <a href="#about">About</a>
    <a href="#services">Services</a>
    <a href="#contact">Contact</a>
  </div>
  <div class="title">
    My Notes
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSn4QomCV4XXUX_pKl7EEdfQ5CeYjy5U_-SrA&s" alt="">
  </div>
</div>
<div class="maincontent">
  <div class="sidebar">
    <img src="https://img.freepik.com/premium-photo/girl-is-writing-book-is-wearing-glasses_900370-19840.jpg" alt="">
    <button routerLink="/create-note" (click)="createNote()">CREATE</button>
    <button>BOOKMARKS</button>
    <button>REMINDERS</button>
  </div>
  <div class="othercontent">
    <input type="text" placeholder="Search..">
    <h3> My Notes</h3>
    <div class="notecontent">
      <div *ngFor="let note of notes" class="note1">
        <p>{{ note.content }}</p>
        <div class="buttons">
          <div class="update">
            <button (click)="updateNote(note.id)">update</button>
          </div>
          <div class="delete">
            <button (click)="deleteNote(note.id)">delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
