<div class="topnav">
    <div class="links">
        <a href="#home">Home</a>
        <a href="#about">About</a>
        <a href="#services">Services</a>
        <a href="#contact">Contact</a>
    </div>
    <div class="title">
        My Notebook
    </div>
</div>
<div class="content">
    <div class="notes">
        <h1>NOTEBOOK</h1>
        <p>Time to get <br> Organised</p>
        <p>its a long established fact that a human<br> will be distracted by the events of life <br> unless they are documented</p>
        <button routerLink="/login">Get Started</button>
    </div>
    <div class="images">
        <img src="https://img.freepik.com/premium-photo/girl-is-writing-book-is-wearing-glasses_900370-19840.jpg" alt="">
    </div>
    

</div>
<div class="last">
    <div class="contact">
        <h3> Contact us</h3>
        <p> share recommendations and <br> any updates you might need</p>
        <p> Reach us through our email<br>  and contacts</p>
        nmmuhia&#64;gmail.com
        <p>+254700000000</p>
    </div>
    <div class="read">
        <h3> Read more</h3>
        <p> get to learn more about our company <br> and the services we offer</p>
        <button>Read More</button>
    </div>
    <div class="tips">
        <h3>Daily Tips</h3>
        <p> A quote a day keeps the <br>day awake</p>
        <button>More quotes</button>
    </div>
</div>

